@charset "UTF-8";

:root {
    --cor1: #A83025;
    --cor2: #5C3330;
    --cor3: #DB3E30;
    --cor4: #E17E75;
    --cor5: #5C1A14;
    
    --cor3_t: #5c4e1894;
    --cor4_t: #dbbb395e;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    background-image: linear-gradient(to bottom, var(--cor3_t), var(--cor4_t));
    padding-top: 30px;
    padding-bottom: 30px;
}

header > h1, header > p {
    color: white;
    text-align: right;
    padding-right: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
}

nav {
    padding: 0px 10px 0px 10px;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.589);
}

div > a {
    color: white;
    text-decoration: none;
}

div {
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
}


div > a:visited {
    color: white;
}

div > a:hover {
    background-color: var(--cor4_t);
    padding: 10px;
    font-weight: bold;
}

main {
    min-height: 70vh;
    max-height: 75vh;
}
