@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Dancing Script', cursive;
    --fonte3: 'Kaushan Script', cursive;
    --fonte4: 'Amatic SC', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}   

html, body {
    min-height: 100vh;
    background-color: lightgray;
    font-family: var(--fonte4);
    /* width: 300px;
    height: 300px; */
}

header {
    /* background-color: rgba(0, 0, 0, 0.205); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.205), rgba(255, 255, 255, 0.336));
    color: black;
    text-align: left;
    padding-right: 10px;
    font-family: var(--fonte2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.048);
}

header > h1 {
    padding-top: 30px;
    font-variant: small-caps;
    font-size: 4em;
}

header > p {
    padding-bottom: 30px;
    font-size: 2em;
}

nav {
    padding: 10px;
    font-family: var(--fonte3);
    font-weight: normal;
    font-size: 1.2em;
    /* color: #92df76; */
    /* color: #B8001F; */
    color: black;
    text-align: right;
}


li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-weight: normal;
}


a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

section {
    text-align: center;
}

section > h2 {
    font-size: 2.5em;
    padding: 50px;
    font-weight: bolder;
}

section > h3 {
    font-size: 1.8em;
    font-weight: bolder;
    padding-bottom: 50px;
}

section > p {
    font-size: 1.5em;
}

section a {
    text-decoration: underline;
    font-weight: bold;
}

section a:visited {
    color:  black;
    font-weight: bold;
}

section.esquerda {
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.direita {
    text-align: right;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.centralizar {
    text-align: center;
    padding-bottom: 50px;
}

section.cerimonia1 {
    margin-bottom: 10px;
}

section.cerimonia {
    margin-top: 20px;
    background-color: rgba(141, 141, 141, 0.096);
    width: 350px;
    /* height: 100px; */
    /* padding: 20px; */
    margin: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
}

section.dicas > p{
    padding: 10px;
}

section.confirmacao > p {
    padding-bottom: 20px;
}

section.presentes > p {
    padding-bottom: 20px;
}

body {
    /* min-height: 80vh;  */
    /* background-size: contain; */
    background-image: url(imagens/foto1.jpeg);
    /* background-image: url(imagens/foto1.png); */
    /* max-width: 80vh;
    max-height: 80vh; */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
    background-position-y: 40%;
    /* padding: 10px; */
    font-weight: bold;
 } 

 body.historia {
    background-image: url(imagens/foto_luke.jpeg);
    /* color: rgb(253, 253, 253); */
 }
 
 body.ft_cerimonia {
    background-image: url(imagens/alianca.jpeg);
    background-position-y: 40%;
 }

 body.presenca {
    background-image: url(imagens/presenca.jpeg);
    /* background-position-y: 20%; */
 }

 body.dicas {
    background-image: url(imagens/dicas.jpeg);
    /* background-position-y: 60%; */
 }

 body.presente {
    background-image: url(imagens/prc.jpeg);
    background-position-y: 20%;
 }

footer {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    /* background-color: #60bd3eda; */
    /* background-color: rgba(0, 0, 0, 0.205); */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.336), rgba(0, 0, 0, 0.205));
    color: black;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.048);
    font-family: var(--fonte2);
    font-weight: normal;
}

footer a:visited {
    color: black;
}

footer.alinhar {
    /* background-color:  rgba(0, 0, 0, 0.205); */
    position: absolute;
    bottom: 0;
}

footer.top {
    margin-top: 10px;
}